#hero
{
    background-color: #b8ccff;
}
#projects
{
    background-color: #b8d3ff;
}

.bgcolor
{
    background-color: #7695FF;
}

.accentcolor
{
    background:  #FF9874;
    color: white;
    font: bold;
}

